head,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}



.nav {
    font-size: 20px;
    display: flex;
    padding: 5px 0;
    height: 50px;

}

#left {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    text-align: center;
    align-items: center;
    padding: 0 10px;
}

#right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;

}

#icon {
    display: none;
}

li {
    list-style-type: none;
}

#right li {
    padding: 0 10px;
}

.banner {
    font-size: 40px;
    background-color: rgb(219, 238, 255);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.card {
    background-color: rgb(219, 238, 255);
    display: flex;
    flex-direction: column;
}


/* 風景圖，寬度與藍框相同，高度可縮放 */
.img {
    height: 80%;
    width: 100%;
}

.img img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    text-align: center;
}

#btn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#btn button {
    background-color: rgb(224, 224, 224);
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    border: none;
}


@media (min-width:1200px) {
    .content {
        width: 1200px;

    }

    .card {
        width: 280px;
        height: 250px;
        margin: 10px;
    }
}

@media(max-width:1200px) {
    #right li {
        padding: 0 8px;
    }

    .content {
        width: 90%;
        justify-content: space-evenly;
    }

    .card {
        width: 40%;
        margin-bottom: 20px;
    }



    .card-text {
        font-size: 18px;
    }

}

@media(max-width:600px) {

    #right {
        display: none;
    }


    #icon {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        align-items: center;
    }

    /* 漢堡icon */
    #icon img {
        height: 100%;
    }

    .card {
        width: 100%;
    }


}