head,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

h1 {
    border-bottom: rgb(91, 162, 255) solid 5px;
    text-align: center;
    padding: 5px 0;
    margin: 0 auto;

}

li {
    padding: 5px 0;
    font-weight: bold;
    font-size: 25px;
}

#body {
    margin: 20px auto;
}

.background {
    background-color: rgb(221, 221, 221);
    padding: 20px 0;
    width: 100%;
    border-left: 3px solid rgb(123, 180, 255);
}

p {
    padding: 0 10px;
}


h1 {
    width: 1000px;
}

#body {
    width: 1000px;

}




@media (max-width:1200px) {
    h1 {
        width: 100%;
    }

    #body {
        padding: 20px auto;
        width: 90%;
    }


}